---
layout: default
title:  M2Eclipse
author: aloney
---
<div class="row margin-bottom-30">
  <div class="col-md-12">
    <img class="img-responsive" src="{{site.context}}/assets/img/m2e_homepage.jpg" alt="M2Eclipse: First-class Apache Maven support in the Eclipse IDE"/>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <h1>M2Eclipse</h1>
    <p><a href="http://eclipse.org/m2e">M2Eclipse</a> provides tight
integration for <a href="http://maven.apache.org">Apache Maven</a> into the IDE with the
following features:</p>
    <ul>
      <li>Launching Maven builds from within Eclipse</li>
      <li>Dependency management for Eclipse build path based on Maven's pom.xml</li>
      <li>Resolving Maven dependencies from the Eclipse workspace without installing to local Maven repository</li>
      <li>Automatic downloading of the required dependencies from the remote Maven repositories</li>
      <li>Wizards for creating new Maven projects, pom.xml and to enable Maven support on plain Java project</li>
      <li>Quick search for dependencies in Maven remote repositories</li>
    </ul>
    <h2>Installation</h2>
    <p>You can install the lastest M2Eclipse release (1.7.0) by using the following update site from
within Eclipse:</p>
    <p>
      <a href="http://download.eclipse.org/technology/m2e/releases" target="_blank">
        <code>http://download.eclipse.org/technology/m2e/releases</code>
      </a>
    </p>

    <p>There are also development builds available. Information on how to install those can be found <a href="{{site.context}}/m2e-downloads.html" target="_blank">here</a>.
  </div>
  <div class="col-md-3">
    <div class="margin-bottom-10">&nbsp;</div>
    <img class="img-responsive" src="{{site.context}}/assets/img/m2e_hangoutCTA.png" alt="Maven Development Hangout with Takari"/>
    <h4>Maven Development Hangout</h4>
    <p class="small">Curious to know what's new with Maven and what might impact development with M2Eclipse? Join the weekly Maven Development Hangout with Takari to take part in the discussion.</p>
    <a href="https://plus.google.com/u/0/113247990055413254822/posts" target="_blank">
      <button class="btn-u" type="button">Upcoming Hangout</button>
    </a>
  </div>
</div>
