            <div class="collapse navbar-collapse navbar-responsive-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown active">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                    Documentation
                    <i class="icon-angle-down"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/m2e-execution-not-covered.html">Background</a></li>
                    <li><a href="/m2e-dev-env.html">Developement Environment Setup</a></li>
                    <li><a href="/m2e-ext-dev-env.html">Setting up Eclipse IDE</a></li>
                    <li><a href="/m2e-ext-dev.html">Getting Started</a></li>
                    <li><a href="/m2e-project-conversions.html">Project Conversions</a></li>
                    <li><a href="/m2e-target-envs.html">Target Environments</a></li>
                    <li><a href="/m2e-update-sites.html">Update Sites</a></li>
                  </ul>
                </li>
                <li class=""><a href="/m2e-project-conversion.html">Future Developments</a></li>
                <li class=""><a href="/m2e-faq.html">FAQ</a></li>
              </ul>
            </div>